<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tile.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @tile.owner %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tile.type %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @tile.cost %>
</p>

<%= link_to 'Edit', edit_tile_path(@tile) %> |
<%= link_to 'Back', tiles_path %>
